# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# saved model
cat-dog-model.keras

# Virtual environments
venv/
env/
dataset/